html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #d24a9c;
}

.link {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 11vw;
  font-family: 'Archivo Black', sans-serif;
  margin-left: 50px;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.2);
  -webkit-text-stroke-color:  #fbe43e;
}
