html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.webadvanced {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: .03vw;
  -webkit-text-stroke-color: white;
  font-size: 11vw;
  font-family: 'Archivo Black', sans-serif;
  top: 0px;
  left: 0px;
  margin: 0;
}

.vlora {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: .03vw;
  -webkit-text-stroke-color: white;
  font-size: 10vw;
  font-family: 'Archivo Black', sans-serif;
  bottom: 0px;
  margin: 0;
}

.flex-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: flex-start;
  background-color: black;
  height: 250px;
  width: 100vw;
}

.one:hover, .two:hover, .three:hover, .four:hover {
  transform: scale(.9);
}

.one {
  flex: 1 0;
  height: 280px;
  background-color: #d24a9c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two {   
  flex: 1 0; 
  height: 280px;
  background-color: #fbe43e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three {
  flex: 1 0;
  height: 280px;
  background-color: #49c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_text {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: .07vw;
  -webkit-text-stroke-color: white;
  font-size: 3vw;
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
}

.div_text:hover {
  position: absolute;
  color: white;
  font-size: 3vw;
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
}